.layout-container {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-dark);
}

.main-content {
    margin-left: calc(var(--sidebar-width) + 40px);
    flex-grow: 1;
    padding: 20px 40px 40px 0;
}

.header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search-bar {
    width: 400px;
    padding: 12px 20px;
}

.search-bar input {
    background: transparent;
    border: none;
    color: var(--text-main);
    width: 100%;
    font-family: inherit;
    font-size: 15px;
}

.search-bar input:focus {
    outline: none;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-info {
    text-align: right;
}

.user-name {
    font-weight: 600;
    font-size: 16px;
}

.user-role {
    font-size: 12px;
    color: var(--text-dim);
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
}

.page-content {
    animation: fadeIn 0.5s ease-out;
}

.search-bar-container { position: relative; }
.search-results { 
    position: absolute;
    top: 45px;
    left: 0; 
    width: 100%; 
    background: var(--bg-light); 
    border-radius: 8px; 
    padding: 10px 10%; 
    margin: 15% auto;
    z-index: 1000; 
    max-height: 250px; 
    overflow-y: auto; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
 }
.search-item { padding: 10px 15px; cursor: pointer; color: var(--text-main); }
.search-item:hover { background: rgba(255,255,255,0.1); }


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}