.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-dark);
}

.login-box {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
}
